Source: sml-mode
Section: editors
Priority: optional
Maintainer: Jens Peter Secher <jps@debian.org>
Build-Depends: debhelper (>= 4), dpatch, texinfo, emacs21 | emacsen
Standards-Version: 3.6.1

Package: sml-mode
Architecture: all
Depends: emacs21 | emacsen
Enhances: sml-nj, mlton, mosml
Description: a major Emacs mode for editing Standard ML
 This emacs mode provides syntax highlighting and automatic
 indentation for Standard ML and comes with sml-proc which allows
 interaction with an inferior SML interactive loop.  You will need
 this if you write Standard ML programs using Emacs.
